<div class="bootstrap-demo">
    <div class="panel panel-default">
        <!-- Panel Contents -->
        <div class="panel-heading">Ubice mog oca</div>
        <div class="panel-body">
            <p>This is an example how to combine Node.js, Express.js and AngularJS in same project.</p>
        </div>

        <!-- List Groups -->
        <ul *ngFor="let item of items">
            <li class="list-group-item">
                <a href="{{item.url}} "> {{item.title}}</a>

            </li>

        </ul>
    </div>
</div>